<input type="hidden" name="_method" value="POST">
<input type="hidden" name="id" value="<?= $users['id'] ?>">

<input type="hidden" name="_method" value="POST">
<input type="hidden" name="username" value="<?= $users['username'] ?>">

<input type="hidden" name="_method" value="POST">
<input type="hidden" name="state" value="<?= $users['state'] ?>">

<input type="hidden" name="_method" value="POST">
<input type="hidden" name="district" value="<?= $users['district'] ?>">


<input type="hidden" name="_method" value="POST">
<input type="hidden" name="age" value="<?= $users['age'] ?>">

<input type="hidden" name="_method" value="POST">
<input type="hidden" name="hospital" value="<?= $users['hospital'] ?>">

<input type="hidden" name="_method" value="POST">
<input type="hidden" name="blood" value="<?= $users['blood'] ?>">

<input type="hidden" name="_method" value="POST">
<input type="hidden" name="contact" value="<?= $users['contact'] ?>">